


#header{
    margin: 30px auto 0 auto;
    width:1200px;
    height:170px;
}
.logo{
    width:200px;
    margin:40px 130px 0 0;
    display:inline-block;
    float:left;
}
.search{
    width:600px;
    height:40px;
    float:left;
    margin-top:20px;
}
span>a{
    padding:4px;
}
#tab{
    width:1200px;
    padding:0;
    margin: 0 auto;
    color:#FFF;
    font-size:50px;
}
#tab a{
    margin:auto 40px;
    display:inline-block;
    color:#666;
    font-size:14px;

}
#mainbody{
    margin:0 auto;
    width:1200px;
}
#menu{
    width:275px;
    display:inline-block;
    border:#f36 1px solid;

}
#menu ul{
    list-style:none;
}
#menu ul li{
    border-bottom:1px #999 dotted;
    padding:12px 20px;
}
#menu ul li .b{
    font-size:16px;
    color:#666;
    margin-right:10px;
}
a .s{
    font-size:14px;
    color:#666;
}
#imgBox {
    width:880px;
    height:480px;
    display: inline-block;
    position: relative;
    right: -40px ;
    top: -5px;
}
#img1{
    width:880px;
    height:480px;
    display: block;
    float:right;
    margin:10px;
    position: relative;
    overflow: hidden;
    white-space:nowrap;
    font-size:0;
}
#imgBox .bg_btn{
    position:  absolute;
    display: none;
    width: 40px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    background-size:cover;
    background-position-x: center;
    opacity:0.7;
}
#imgBox .bg_btn_left{
    top: 220px;
    left: -10px;
    background-image: url("../images/icon_left.png");
}
#imgBox .bg_btn_right{
    top: 220px;
    right: 10px;
    background-image: url("../images/icon_right.png");
}
#img1 #con1,#img1 #con2,#img1 #con0{
    display: inline-block;
    font-size:0;
}
#img1 img{
    width: 880px;
    height: 480px;
    margin: 0;
    padding: 0;
}
.bq{
    text-align:center;
}
.center{
    margin:0 auto;
    width:1200px;
}
.Promotion img{
    margin-right:16px;
}
.last{
    margin:0 !important;
    padding:0 !important;
}
.img2{
    display:inline-block;
    width:224px;
    height:340px;
}
table{
    margin:16px 0;
    width:1200px;
}
table tr td{
    width:20%;
}
.tr1 img{
    width:40px;
    height:50px;
    margin-left:10px;
}

table tr td .name{
    font-size:18px;
    display:inline-block;
    width:210px;
}
.del{
    text-decoration: line-through;
    font-size:12px;
    color:#999;
}
.new{
    font-size:24px;
    color:red;
}
table .tr2 img{
    float:right;
    width:100px;
    margin-right: 10px;
}