
#top{
    background-color:#f8f8f8;
    width:100%;
    height:30px;
    margin:0 auto;
    position: fixed;
    top: 0px;
    z-index: 99;
}
#top .top_col{
    margin:0 auto;
    width:1200px;
    list-style:none;
    text-align:right;
}
#top img{
    display: none;
    float: left;
    margin: auto 0;
    height: 30px;
}
#top #search2 {
    display: none;
    border: 1px solid rgba(255,51,102,0.5);
    float: left;
    left: 80px;
    width: 300px;
    padding-left: 5px;
    position:  relative;
    top: 2px;
    height: 24px;
}
#top #search2_btn{
    display: none;
    border: 1px solid #ff3366;
    width:70px;
    cursor:pointer;
    background-color:#f36;
    color:#FFF;
    float: left;
    position:  relative;
    top: 2px;
    left: 9px;
    height: 26px;

}
#top .top_col a{
    display:inline-block;
    line-height:30px;
    border-right:#CCC dotted 1px;
    padding:0 10px 0 5px;
}