#foot{
    height:100px;
    width: 100%;
}
#foot a:hover{
    color: #ff3366;
}
.font_center{
    text-align:center;
}
#header{
    width: 1200px;
    padding: 22px 0 22px 0;
    margin: 0 auto;
}
#main{
    height: 600px;
    width: 100%;
    background-color: #FF3366;
    font-size: 0;
}
#main .imgbox{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    display: block;
    background-image: url("../images/bgimg.jpg");
}
#table{
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    left: 750px;
    top: 110px;
}
#table h1{
    font-size: 16px;
    display: block;
    width: 80px;
    height: 20px;
    position: relative;
    top: 60px;
    left: 20px;
}
#table form{
    position: relative;
    top: 100px;
    left: 20px;
    width: 300px;
    height: 200px;
}
#table form input{
    display: block;
    height: 42px;
    width: 245px;
    font-size: 14px;
    border: 1px solid #dddddd;
    padding-left: 55px;
}
#table form .icon{
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 1px;
    left: 1px;
}
#table form .icon img{
    width: 42px;
    height: 43px;
}
#table form .btn{
    display: block;
    height: 42px;
    width: 300px;
    background-color: #FF3366;
    border-radius: 5px;
    color: #ffffff;
    font-size: 17px;
    padding: 0;
    font-weight: 600;
    margin-top: 50px;
 }
#table form .btn:hover{
    cursor:pointer
}